* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #2a2438;
}

.container1 {
    padding: 20px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: #dbd8e3;
}

nav ul li a {
    padding: 0;
    margin: 0 20px;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    color: #dbd8e3;
}

nav ul li a::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #dbd8e3;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: .5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    color: #dbd8e3;

}

nav .fa-xmark {
    display: none;
    color: #dbd8e3;
}

nav button {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    color: #dbd8e3;
    cursor: pointer;
    font-size: 25px;
    display: none;
}








@media only screen and (max-width: 740px) {

    nav ul {
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -200px;
        background-color: #5c5470;
        padding-top: 90px;
        margin: 0px;
        padding-left: 10px;
        z-index: 2;
        transition: 1s;
    }

    nav ul .nav-item {
        display: block;
    }

    nav ul .nav-item .anchur {
        display: block;
        padding: 15px 30px;
    }

    nav .fa-xmark {
        font-size: 25px;
        display: block;
        position: absolute;
        top: 50px;
        left: 25px;
    }

    nav button {
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
    }

    nav ul li a:hover {
        background-color: #352f44;
        color: #dbd8e3;
    }

    nav ul li a:hover::after {
        width: 0;
    }

    /*-----------------------second page---------------------*/

}